.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .purple {
    background-color: #24272b;
    color: #fff;
  }

.blue {
  background-color: #41EAD4;
  color: #000;
}

  .gray {
    background-color: #F4F5F5;
    color: #000;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px dashed rgba(204, 204, 204, 0.3);
    padding: 10px;
    padding-left: 20px;
    width: 80%; /* Ensure the container takes up a specific width */
    font-size: 14px;
    min-height: 90px;
    position: relative;
    -webkit-overflow-scrolling: smooth; 
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

#cursor {
  display: inline-block; /* Ensure cursor is inline with the text */
  font-size: inherit; /* Match font size of typed text */
  color: rgb(211, 207, 207)
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% { opacity: 0.8; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}


.scroll-container::-webkit-scrollbar {
  width: 4px; 
  height: 4px; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10%; 
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}




.menu-bar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dcd7d7;
  cursor: pointer;
  transition: all 0.4s ease;
}

.menu-bar:hover {
  background-color: #e0e0e0;
}

.menu-bar-title {
  font-weight: bold;
}

.menu-items {
  display: none;
}

.menu-items.open {
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  padding-left: 15px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.menu-list li:hover {
  background-color: rgb(169, 170, 169);
}

.custom-button {
  cursor: pointer;
  border: none;
  padding: 40px;
  width: 5%;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}


.check {
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%); 
}

.check-icon {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  background-image: url('static/check.png'); 
  background-size: contain;
  background-repeat: no-repeat;  
  position: relative;
}

.check-icon::before {
  content: '';
  position: absolute;
  bottom: 30%;
  left: 60%;
  width: 35%;
  height: 85%;
  transform: rotate(45deg); 
}

.scroll-item {
  display: none !important;
  margin-right: 35px;
  padding: 10px;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.1;  
  border: 1px solid #ccc;
  background-color: lightgray;
  cursor: not-allowed;
  color: gray;
  user-select: none;
}

.scroll-item-c {
  display: inline-block;
  margin-right: 35px;
  padding: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  position: relative;
  border: 2px solid green;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.scroll-item-curr {
  display: inline-block;
  margin-right: 35px;
  padding: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  position: relative;
  border: 2px solid green;
  color: #fff;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.scroll-button {
  display: block;
  position: absolute;
  background-image: "../static/arrow.png";
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color:green;
	color: #fff;
  z-index: 100;
}

.scroll-button.left {
  left: 15.5%;
}

.scroll-button.right {
  right: 7.5%;
}


.vid {
    object-fit: cover; 
}


.green {
  background-color: #777B7E;
  color: #FFF;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}

hr {
    background-color: #000;
    height: 2px;
}

.hr2 {
  background-color: lightgray;
  height: 1px;
}
.end-stop {
  display: inline-block;
  width: 10px; 
  height: 10px; 
  background-color: black;
}

a {
  text-decoration: none; 
  color: inherit;
}

a:hover {
  text-decoration: none; 
  color: inherit;
}

.indent {
    text-indent: 5%;
}


.windsong {
  font-family: "WindSong", cursive;
  font-weight: 600;
  font-style: normal;
}
.cinzel {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-french-canon-regular {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-french-canon-regular-italic {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: italic;
}

.button-text {
  font-size: 18px;
}
.menu-text {
  font-size: 14px;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
.asul-regular {
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
}

.asul-bold {
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
}
.image-container {
  position: relative; 
  top: 12%;
  opacity: 1;
  /*display: inline-block; */ 
  transition: opacity 0.7s ease;
}

.fade-out {
  opacity: 0;
}
.transparent-button {
  position: absolute;
  left: 30%;
  top: -10%;
  transform: translate(-20%, -20%); 
  background-color: rgba(0, 0, 0, 0.3);
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  cursor: pointer; 
  z-index: 1; 
}

@keyframes flicker {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

.transparent-button span {
  animation: flicker 1s infinite; 
  display: inline-block;
}

.transparent-button:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background on hover */
}
.goudy {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

.code {
  padding: 20px;
  min-height: 500px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  overflow: auto;
}

.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}


.inconsolata-400> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.quiverleaf-reg {
  font-family: "quiverleaf-cf", sans-serif;
font-weight: 400;
font-style: normal;
}

.quiverleaf-ital {
  font-family: "quiverleaf-cf", sans-serif;
font-weight: 400;
font-style: italic;
}

.typewrite {
  font-family: "p22-typewriter", sans-serif;
font-weight: 400;
font-style: normal;
}

/* Syntax highlighting */
.code .keyword {
  color: #569cd6; /* Keywords like 'def', 'class', 'return' */
}

.code .type {
  color: #4ec9b0; /* Type hints like 'List[int]' */
}

.code .string {
  color: #ce9178; /* Strings */
}

.code .comment {
  color: #6a9955; /* Comments */
}

.code .number {
  color: #b5cea8; /* Numbers */
}

.code .function {
  color: #dcdcaa; /* Function names */
}

.code .variable {
  color: #9cdcfe; /* Variables */
}

.code .operator {
  color: #9a6e3a; /* Operator color */
}



.label-container {
  display: inline-block;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  transform: rotate(-5deg);
  color: white;
  text-align: center;
}

.dark {
  background-color: black;
  color: white;
}

.label-container-dark {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  transform: rotate(-5deg);
  color: black;
  text-align: center;
}

p {
  line-height: 2;
  margin-bottom: 5%;
}

/* screen sizes */


/* XS (phone) */

@media (min-width: 576px) {
  .heading {
    font-size: 1rem; 
  }
  .subheading {
    font-size: 0.7rem;
  }
  p {
    font-size: 16px;
  }
  .small {
    font-size: 12px;
  }    
  .icon {
    height: 20px;
  }
  .code {
    font-size: 14px;
 }  
 .disp-1 {
  font-size: 2rem;
}
.disp-2 {
  font-size: 1.75rem;
}
.disp-3 {
  font-size: 1.5rem;
}
.disp-4 {
  font-size: 1.25rem;
}
}

/*  MEDIUM / SMALL */

@media (min-width: 769px) {
  .heading {
    font-size: 1.3rem;
  }
  .subheading {
    font-size: 1rem;
  }  
  p {
    font-size: 18px;
  }
  .small {
    font-size: 13px;
  }
  .icon {
    height: 20px;
  }    
  .code {
    font-size: 12px;
 }  
 .disp-1 {
  font-size: 3rem;
}
.disp-2 {
  font-size: 2.5rem;
}
.disp-3 {
  font-size: 2rem;
}
.disp-4 {
  font-size: 1.75rem;
}
}


/*  LARGE */

@media (min-width: 992px) {
  .heading {
    font-size: 1.6rem; 
  }
  .subheading {
    font-size: 1.2rem;
  }  
  p {
    font-size: 20px;
  }
  .small {
    font-size: 15px;
  }  
  .icon {
    height: 30px;
  }
  .code {
    font-size: 15px;
 }    
 .disp-1 {
  font-size: 3.5rem;
}
.disp-2 {
  font-size: 3rem;
}
.disp-3 {
  font-size: 2.5rem;
}
.disp-4 {
  font-size: 2rem;
}
}


/* XL ++ (latop/desktop) */

@media (min-width: 1200px) {
  .heading {
    font-size: 2.3rem;  
  }
  .subheading {
    font-size: 1.8rem;
  }  
  p {
    font-size: 22px;
  }
  .small {
    font-size: 16px;
  }
  .icon {
    height: 35px;
  }  
  .code {
     font-size: 17px;
  }
  .disp-1 {
    font-size: 4rem;
  }
  .disp-2 {
    font-size: 3.5rem;
  }
  .disp-3 {
    font-size: 3rem;
  }
  .disp-4 {
    font-size: 2.5rem;
  }
}